*{
    font-family: poppins;
    margin: 5px;
    padding: 10px;
}

header{
    color: white;
    background-color: black;
    border: solid black 2px;
    border-radius: 10px;
}

img{
    border-radius: 50px;
    height: 310px;
    width: 300px;
}

.image-profile{
    color: black;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.jake-profile{
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    max-width: 600px;
}
.finn-profile{
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    max-width: 600px;
}
.IceKing-profile{
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    max-width: 600px;
}
.marceline-profile{
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    max-width: 600px;
}
.bubblegum-profile{
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    max-width: 600px;
}

