*{
    font-family: poppins;
    margin: 5px;
    padding: 10px;
}

header{
    color: white;
    background-color: black;
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    list-style: none;
    color: black;
}

img{
    border-radius: 50px;
    height: 310px;
    width: 300px;
}

.image-profile{
    color: black;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-border{
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    max-width: 600px;
}

#all-results{
    display: flex;
    justify-content: flex-end;
}

.music-section{
    background-color: black;
    color: white;
    border-radius: 25px;
}

.music-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}